/*Reset Basico*/
/*------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Roboto',sans-serif;
}

/*Configuraciones Basicas*/
/*------------------*/
body{
    display: flex;
    min-height: 100vh;
    background-color: #B3E5FC;
    justify-content: center;
    align-items: center;
}

/*Sección de información*/
/*------------------*/
#information{
    display: flex;
    align-items: center;
    margin: auto;
    height: 65vh;
    width: 65%;
    color: white;
    background-color: #FF4081;
    padding: 3rem;
}


#dif, #btn-play{
    text-align: center;
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 5px;
    background-color: #6A1B4D;  
}

#btn-play{
    margin-left: 30px;
}

#info, #cont-img-game{
    width: 50%;
}

#info h3, #info p{
    margin-bottom: 30px;
}

#cont-img-game{
    display: flex;
    justify-content: end;
}
#info{
    margin-left: 30px;
}

#img-game{
    margin-right: 30px;
}